:root{
  --theme-color: #10c9c3;
  --theme-color-secondry: #0DBAB4;
  --light: #f5f5f5;
}

/* common */
.eye {
  width: 30px;
  height: 30px;
  border: solid 2px #ffffff;
  border-radius:  75% 15%;
  position: relative;
  transform: rotate(45deg);
}
.eye:before {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border: solid 2px #ffffff;
  border-radius: 50%;
  left: 7px;
  top: 7px;
}

.bg-black{
  background-color: #000000;
}

.theme-btn{
  background-color: var(--theme-color);
  border-radius: unset;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
}
.theme-btn:hover{
  background-color: var(--theme-color-secondry);
  color: #ffffff;
}

.form-group .form-control-theme{
  border-radius: unset;
  border-color: var(--light);
  background-color: #ffffff;
}

.navbar-nav .nav-item.nav-link:hover, .navbar-nav .nav-item.nav-link.active{
  color: var(--theme-color);
}

/* header */
header p.freelancer-bio, section.need-project p{
  width: 40%;
  display: inline-block;
}
header.about-me{
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  background-size: cover;
  min-height: 400px;
}

header.about-me:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

/* portfolio */
.portfolio .portfolio-item .hover-effect{
  top: 0;
}
.portfolio .portfolio-item .hover-effect::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  opacity: 0.8;
}

.portfolio .portfolio-item a.portfolio-link:hover, .portfolio .portfolio-item .hover-effect:hover{
  display: block;
}

/* testimonial */
.testimonial{
  background-color: var(--theme-color);
}

/* about me */
.about-me-image{
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* navigation menu sliding effect */
.slide-right-to-left{
  left: -100% !important;
}
.slide-left-to-right{
  left: 0 !important;
}

button.navbar-toggler[aria-expanded="true"]{
  position: absolute;
  z-index: 1111;
  right: 15px;
  border-color: #ffffff;
  outline: none;
}

/* media queries */
@media (max-width: 767px) {
  header p.freelancer-bio, section.need-project p{
    width: 80%;
  }

  .testimonial .testimonial-item:not(:last-child){
    margin-bottom: 20px;
  }

  nav.navbar{
    position: unset;
  }

  .navbar-collapse.collapse{
    position: absolute;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    left: -100%;
    padding: 20px;
    height: 100vh;
    text-align: center;
    display: flex;
    transition: left 500ms;
  }

  .navbar-collapse.collapse .navbar-nav{
    margin-right: auto;
  }

  header.about-me{
    min-height: 250px;
  }
}
